
.depicter-5:not(.depicter-ready){
	height:700px;
}
.depicter-revert.depicter-5 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-5-element-22{
	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:50% 50% 50% 50%;
}
.depicter-5-element-22 .depicter-arrow-icon{
	fill:#ffffff;
}
.depicter-revert .depicter-5-element-23{
	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:50% 50% 50% 50%;
}
.depicter-5-element-23 .depicter-arrow-icon{
	fill:#ffffff;
}
.depicter-revert .depicter-5-element-21{
	font-size:40px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-20{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-19{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-18{
	font-size:35px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-16{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-15{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-14{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-13{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-12{
	font-size:35px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-11{
	border-radius:12px;
}
.depicter-revert .depicter-5-element-10{
	border-radius:12px;
}
.depicter-revert .depicter-5-element-7{
	font-size:14px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:500;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:10px;
}
.depicter-revert .depicter-5-element-7:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-6{
	font-size:16px;
	text-align:left;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-5{
	font-size:80px;
	text-align:left;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-4{
	font-size:16px;
	text-align:left;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-section-1{
	background-color:#FFF;
}
.depicter-revert .depicter-5-element-40{
	font-size:40px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-39{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-38{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-37{
	font-size:35px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-36{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-35{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-34{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-33{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-32{
	font-size:35px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-31{
	border-radius:12px;
}
.depicter-revert .depicter-5-element-30{
	border-radius:12px;
}
.depicter-revert .depicter-5-element-29{
	font-size:14px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:500;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:10px;
}
.depicter-revert .depicter-5-element-29:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-28{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-27{
	font-size:80px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-26{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-5-section-25{
	background-color:#FFF;
}
.depicter-revert .depicter-5-section-25 .depicter-bg-video-container::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.2);
}
.depicter-revert .depicter-5-element-56{
	font-size:40px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-55{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-54{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-53{
	font-size:35px;
	text-align:left;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-52{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-50{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-49{
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-48{
	font-size:35px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-47{
	border-radius:12px;
}
.depicter-revert .depicter-5-element-46{
	border-radius:12px;
}
.depicter-revert .depicter-5-element-45{
	font-size:14px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:500;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:10px;
}
.depicter-revert .depicter-5-element-45:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-5-element-44{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-43{
	font-size:80px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-5-element-42{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-5-section-41{
	background-color:#FFF;
}
.depicter-revert .depicter-5-section-41 .depicter-bg-video-container::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.2);
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-5:not(.depicter-ready){
	height:700px;
}
.depicter-revert .depicter-5-element-18{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-12{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-5{
	font-size:60px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-37{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-32{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-27{
	font-size:60px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-53{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-48{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-43{
	font-size:60px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-5:not(.depicter-ready){
	height:740px;
}
.depicter-revert .depicter-5-element-21{
	font-size:30px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
}
.depicter-revert .depicter-5-element-19{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-5-element-18{
	font-size:20px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-15{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-5-element-12{
	font-size:20px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-6{
	font-size:12px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-5-element-5{
	font-size:50px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-4{
	font-size:16px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-5-element-40{
	font-size:30px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
}
.depicter-revert .depicter-5-element-38{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-5-element-37{
	font-size:20px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-35{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-5-element-32{
	font-size:20px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-28{
	font-size:12px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-5-element-27{
	font-size:30px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-56{
	font-size:30px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
}
.depicter-revert .depicter-5-element-54{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-5-element-53{
	font-size:20px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-48{
	font-size:20px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-5-element-44{
	font-size:12px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-5-element-43{
	font-size:30px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}

}
